<?xml version="1.0"?>
<config>
    <modules>
        <TLaziuk_LazyLoad>
            <version>2.0.1</version>
        </TLaziuk_LazyLoad>
    </modules>
    <global>
        <blocks>
            <tlaziuk_lazyload>
                <class>TLaziuk_LazyLoad_Block</class>
            </tlaziuk_lazyload>
        </blocks>
        <helpers>
            <tlaziuk_lazyload>
                <class>TLaziuk_LazyLoad_Helper</class>
            </tlaziuk_lazyload>
        </helpers>
        <models>
            <tlaziuk_lazyload>
                <class>TLaziuk_LazyLoad_Model</class>
            </tlaziuk_lazyload>
        </models>
    </global>
    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <controller_front_send_response_before_tlaziuk_lazyload>
                        <type>singleton</type>
                        <class>tlaziuk_lazyload/observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </controller_front_send_response_before_tlaziuk_lazyload>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <core_block_abstract_to_html_after_tlaziuk_lazyload>
                        <type>singleton</type>
                        <class>tlaziuk_lazyload/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </core_block_abstract_to_html_after_tlaziuk_lazyload>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <tlaziuk_lazyload>
                    <file>tlaziuk/lazyload.xml</file>
                </tlaziuk_lazyload>
            </updates>
        </layout>
    </frontend>
    <default>
        <advanced>
            <tlaziuk_lazyload>
                <attribute>
<![CDATA[data-original]]>
                </attribute>
                <placeholder>
<![CDATA[https://placeholdit.imgix.net/~text?w=32&h=32]]>
                </placeholder>
                <pattern>
<![CDATA[|<img([^>]*?)src=([\'\"])(.*?)\2([^>]*?)>|i]]>
                </pattern>
            </tlaziuk_lazyload>
        </advanced>
    </default>
</config>
